.markdown-source-view.mod-cm6 .cm-embed-block.cm-callout:hover {
    border-radius: var(--callout-radius);
}

.callout.is-collapsible .callout-title {
    cursor: pointer;
}

.callout-content :is(h1, h2, h3, h4, h5, h6) {
    margin-block-start: var(--p-spacing);
    margin-block-end: 0;
    letter-spacing: initial;
    + p {
        margin-block-start: calc(var(--p-spacing) / 2);
    }
}

.callout-title-inner {
    margin-left: var(--size-4-1);
}

.callout-fold svg.svg-icon {
    --icon-stroke: var(--cc-collapse-stroke-width);
}

.callout {
    --color-accent: rgb(var(--callout-color));
    background-color: transparent;
    border: none;
    padding: 0;
    position: relative;
}

.callout-title, .callout-content {
    background-color: color-mix(in srgb, var(--color-accent) var(--cc-alpha-1-8), var(--background-primary));
    border: var(--callout-border-width) solid rgb(from var(--color-accent) r g b / var(--callout-border-opacity));
}

.callout-title {
    border-bottom: none;
    border-radius: var(--callout-radius) var(--callout-radius) 0 0;
    color: var(--color-accent);
    padding: var(--size-4-2) var(--size-4-3) 0;
    position: relative;
    width: fit-content;
    &:after {
        content: "";
        display: block;
        width: 100%;
        background-color: color-mix(in srgb, var(--color-accent) var(--cc-alpha-1-8), var(--background-primary));
        height: var(--callout-border-width);
        position: absolute;
        left: 0;
        bottom: calc(var(--callout-border-width) * -1);
    }
}

.callout-content {
    border-radius: var(--callout-radius);
    border-top-left-radius: 0;
    padding: var(--size-4-3) var(--size-4-3) var(--size-4-5);
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
}

.callout-fold {
    padding-inline-start: var(--size-4-2);
    padding-inline-end: 0;
}

.callout.is-collapsed .callout-title {
    border-radius: var(--callout-radius);
    border: var(--callout-border-width) solid rgb(from var(--color-accent) r g b / var(--callout-border-opacity));
    padding-bottom: var(--size-4-2);
    &:after {
        content: none;
    }
}