.inline-embed {
    border-radius: var(--radius-l);
    box-shadow: 0 var(--cc-input-depth) hsl(from var(--background-primary) h calc(s - 6) calc(l - 6)) inset;
    .embed-title {
        display: none;
    }
}

.image-embed > img {
    border: var(--cc-border-s) solid var(--background-modifier-border);
    border-radius: var(--radius-m);
    max-width: 100%;
}