.inline-title {
    background: var(--cc-inline-title-shadow);
    background-clip: text;
    color: transparent;
    margin-bottom: var(--size-4-3);
    position: relative;
    text-align: center;
    text-shadow: 0 calc(var(--cc-heading-depth) * -1) var(--text-normal); 
}