.tree-item:has(> .mod-collapsible) {
    --cc-nesting: 0;
    .tree-item:has(> .mod-collapsible) {
        --color-accent: var(--cc-accent-02);
        --cc-nesting: 1;
        &:last-child {
            margin-bottom: calc(var(--cc-nav-folder-border-width) * -1);
        }
        .tree-item:has(> .mod-collapsible) {
            --color-accent: var(--cc-accent-03);
            --cc-nesting: 2;
            &:last-child {
                margin-bottom: calc(var(--cc-nav-folder-border-width) * -1);
            }
            .tree-item:has(> .mod-collapsible) {
                --color-accent: var(--cc-accent-04);
                --cc-nesting: 3;
                &:last-child {
                    margin-bottom: calc(var(--cc-nav-folder-border-width) * -1);
                }
                .tree-item:has(> .mod-collapsible) {
                    --color-accent: var(--cc-accent-05);
                    --cc-nesting: 4;
                    &:last-child {
                        margin-bottom: calc(var(--cc-nav-folder-border-width) * -1);
                    }
                }
            }
        }
    }
}


/* parents */
.collapse-icon svg.svg-icon {
    stroke-width: var(--cc-collapse-stroke-width);
}

/* children */
.tree-item-children {
    margin-bottom: 0;
}

.tree-item-self:not(.mod-collapsible, .search-result-file-title) .tree-item-inner {
    background-color: rgb(from var(--color-accent) r g b / var(--cc-alpha-1-4));
    width: 100%;
    border-radius: var(--cc-nav-item-radius);
    padding: var(--size-2-1) var(--size-4-3) 0;
}

.node-insert-event > div > .tree-item:not(:has(> .mod-collapsible)) {
    border-radius: var(--cc-nav-folder-radius);
    overflow: hidden;
}

/* all nav items */
.tree-item-self {
    align-items: center;
    display: flex;
    position: relative;
    letter-spacing: 0.05em;
    margin-bottom: 0;
}

.tree-item-self:is(:hover, .is-active) .tree-item-inner {
    background-color: transparent;
}