.workspace-split.mod-left-split > .workspace-leaf-resize-handle, .workspace-split.mod-right-split > .workspace-leaf-resize-handle {
    bottom: calc(var(--cc-footer-height) + var(--cc-pane-gap-outer));
}

.workspace-split.mod-left-split > .workspace-leaf-resize-handle {
    right: calc(((var(--divider-width) + var(--cc-pane-gap-outer)) / 2) * -1);
}

.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
    left: calc(((var(--divider-width) + var(--cc-pane-gap-outer)) / 2) * -1);
}

.workspace .workspace-split .workspace-leaf-resize-handle {
    border: none;
    border-color: var(--divider-color);
    border-style: dashed;
    border-width: var(--divider-width);
}