@use "../../references";

body.theme-light {
    /* base colors */
    --color-base-00: var(--cc-color-white);
    --color-base-05: hsl(from var(--color-accent) h 70 80);
    --color-base-10: hsl(from var(--color-accent) h 60 70);
    --color-base-20: hsl(from var(--color-accent) h 50 60);
    --color-base-25: color-mix(in oklab, var(--color-base-00) 25%, var(--color-base-100));
    --color-base-30: color-mix(in oklab, var(--color-base-00) 30%, var(--color-base-100));
    --color-base-35: color-mix(in oklab, var(--color-base-00) 35%, var(--color-base-100));
    --color-base-40: hsl(from var(--color-base-100) h calc(s - 10) calc(l + 25));
    --color-base-50: hsl(from var(--color-base-100) h calc(s - 10) calc(l + 20));
    --color-base-60: hsl(from var(--color-base-100) h s calc(l + 10));
    --color-base-70: hsl(from var(--color-base-100) h s calc(l + 5));
    --color-base-100: var(--cc-color-black);

    /* extended colors */
    --color-red: #ff507f;
    --color-orange: #fd8b77;
    --color-yellow: #f8c57c;
    --color-green: #38C08A;
    --color-cyan: #46beeb;
    --color-blue: #5266ff;
    --color-purple: #9161ff;
    --color-pink: #e178bd;

    --color-red-rgb: 255, 80, 127;
	--color-orange-rgb: 253, 139, 119;
	--color-yellow-rgb: 248, 197, 124;
	--color-green-rgb: 56, 192, 138;
	--color-cyan-rgb: 70, 190, 235;
	--color-blue-rgb: 82, 102, 255;
	--color-purple-rgb: 145, 97, 255;
	--color-pink-rgb: 225, 120, 189;

    /* interactive colors */
    --interactive-normal: transparent;
    --interactive-hover: var(--cc-accent-medium);
    
    /* surface colors */
    --background-primary: var(--color-base-00);
	--background-primary-alt: var(--cc-accent-faint);
    --background-secondary: color-mix(in oklab, var(--background-primary) 75%, var(--color-accent) 25%);
	--background-secondary-alt: var(--cc-accent-faint);

    @include references.background-modifiers;

    /* text colors */
    --bold-color: color-mix(in oklab, var(--cc-accent-03) var(--cc-alpha-3-4), var(--text-normal));
    --italic-color: color-mix(in oklab, var(--color-accent) var(--cc-alpha-3-4), var(--text-normal));
    --text-error: color-mix(in oklab, var(--color-red) var(--cc-alpha-3-4), var(--text-normal));
    --text-highlight-bg: var(--cc-accent-muted);
    --text-on-accent: hsl(from var(--color-accent) h 95 95);
    --text-on-accent-inverted: hsl(from var(--color-accent) h 25 25);
    --text-success: color-mix(in oklab, var(--color-green) var(--cc-alpha-3-4), var(--text-normal));
    --text-warning: color-mix(in oklab, var(--color-orange) var(--cc-alpha-3-4), var(--text-normal));

    &.is-mobile {
        --background-modifier-cover: var(--cc-gradient-center);

        --color-base-00: var(--cc-color-white);
        --color-base-10: hsl(from var(--color-accent) h 60 70);
        --color-base-20: hsl(from var(--color-accent) h 50 60);

        --titlebar-background: transparent;
        --titlebar-background-focused: transparent;
    }
}

@media (prefers-color-scheme: dark) {
    body.theme-dark {
        /* base colors */
        --color-base-00: var(--cc-color-black);
		--color-base-05: hsl(from var(--color-base-00) h s calc(l + 5));
		--color-base-10: hsl(from var(--color-base-00) h s calc(l + 10));
		--color-base-20: hsl(from var(--color-base-00) h calc(s - 10) calc(l + 20));
		--color-base-25: hsl(from var(--color-base-00) h calc(s - 10) calc(l + 25));
		--color-base-30: color-mix(in oklab, var(--color-base-00) 70%, var(--color-base-100));
		--color-base-35: color-mix(in oklab, var(--color-base-00) 65%, var(--color-base-100));
		--color-base-40: color-mix(in oklab, var(--color-base-00) 60%, var(--color-base-100));
		--color-base-50: hsl(from var(--color-accent) h 50 60);
		--color-base-60: hsl(from var(--color-accent) h 60 70);
		--color-base-70: hsl(from var(--color-accent) h 70 80);
		--color-base-100: var(--cc-color-white);

        /* extended colors */
        --color-red: #ff507f;
        --color-orange: #fd8b77;
        --color-yellow: #f8c57c;
        --color-green: #38C08A;
        --color-cyan: #46beeb;
        --color-blue: #5266ff;
        --color-purple: #9161ff;
        --color-pink: #e178bd;

        --color-red-rgb: 255, 80, 127;
		--color-orange-rgb: 253, 139, 119;
		--color-yellow-rgb: 248, 197, 124;
		--color-green-rgb: 56, 192, 138;
		--color-cyan-rgb: 70, 190, 235;
		--color-blue-rgb: 82, 102, 255;
		--color-purple-rgb: 145, 97, 255;
		--color-pink-rgb: 225, 120, 189;

        /* interactive colors*/
        --interactive-normal: transparent;
        --interactive-hover: var(--cc-accent-medium);

        /* surface colors */
        --background-primary: var(--color-base-00);
		--background-primary-alt: var(--cc-accent-faint);
        --background-secondary: color-mix(in oklab, var(--background-primary) 75%, var(--color-accent));
		--background-secondary-alt: var(--cc-accent-faint);

        @include references.background-modifiers;

        /* text colors */
        --bold-color: color-mix(in oklab, var(--cc-accent-03) var(--cc-alpha-3-4), var(--text-normal));
        --italic-color: color-mix(in oklab, var(--color-accent) var(--cc-alpha-3-4), var(--text-normal));
        --text-error: color-mix(in oklab, var(--color-red) var(--cc-alpha-3-4), var(--text-normal));
        --text-highlight-bg: var(--cc-accent-muted);
        --text-on-accent: hsl(from var(--color-accent) h 90 90);
        --text-on-accent-inverted: hsl(from var(--color-accent) h 20 20);
        --text-success: color-mix(in oklab, var(--color-green) var(--cc-alpha-3-4), var(--text-normal));
        --text-warning: color-mix(in oklab, var(--color-orange) var(--cc-alpha-3-4), var(--text-normal));

        &.is-mobile {
            --background-modifier-cover: var(--cc-gradient-center);

            --color-base-00: var(--cc-color-black);
            --color-base-10: hsl(from var(--color-base-00) h s calc(l + 10));
            --color-base-20: hsl(from var(--color-base-00) h calc(s - 10) calc(l + 20));

            --titlebar-background: transparent;
            --titlebar-background-focused: transparent;
        }
    }
}

@container style(--color-accent) {
    table {
        --table-background: var(--cc-accent-faint);
        --table-column-alt-background: var(--table-background);
        --table-row-alt-background: var(--table-background);
        --table-header-background: var(--cc-accent-medium);
    }
    ul {
        --list-marker-color: rgb(from var(--color-accent) r g b / var(--cc-alpha-1-2));
    }
    .callout-content, .canvas-node-content, table {
        --bold-color: var(--text-muted);
        --code-background: var(--cc-accent-muted);
        --h1-color: var(--text-muted);
        --h1-line-height: 1em;
        --h2-color: var(--text-muted);
        --h2-line-height: 1em;
        --h3-color: var(--text-muted);
        --h3-line-height: 1em;
        --hr-color: rgb(from var(--color-accent) r g b / var(--cc-hr-opacity));
        --italic-color: var(--text-muted);
        --text-normal: color-mix(in oklab, var(--color-accent) 30%, rgb(var(--mono-rgb-100)));
        --text-muted: color-mix(in oklab, var(--callout-color) var(--cc-alpha-1-2), rgb(var(--mono-rgb-100)));

        color: var(--text-normal);

        @include references.background-modifiers;

        @include references.colors-accent;
    }
    .nav-folder-title {
        --nav-collapse-icon-color: color-mix(in oklab, var(--color-accent) var(--cc-alpha-1-2), rgb(var(--mono-rgb-100)));
        --nav-collapse-icon-color-collapsed: var(--nav-collapse-icon-color);
    }
    .nav-folder-title, .tree-item-children {
        --nav-item-background-active: rgb(from var(--color-accent) r g b / var(--cc-alpha-3-4));
        --nav-item-background-hover: rgb(from var(--color-accent) r g b / var(--cc-alpha-1-2));
        --nav-item-background-selected: var(--nav-item-background-hover);

        --nav-item-color: color-mix(in oklab, var(--color-accent) 30%, light-dark(var(--color-base-70), rgb(var(--mono-rgb-100))));
        --nav-item-color-active: hsl(from var(--text-on-accent) calc(h + (var(--cc-color-step) * var(--cc-nesting))) s l);
        --nav-item-color-highlighted: var(--nav-item-color);
        --nav-item-color-hover: var(--nav-item-color);
        --nav-item-color-selected: var(--nav-item-color);

        --text-normal: color-mix(in oklab, var(--color-accent) 30%, rgb(var(--mono-rgb-100)));
        --text-muted: color-mix(in oklab, var(--callout-color) var(--cc-alpha-1-2), rgb(var(--mono-rgb-100)));
    }
}