@use "../../references";

:is(.workspace-tab-header-new-tab, .mobile-navbar-action-new-tab, .mobile-tab-switcher-menu-spacer:first-child) > .clickable-icon {
    @include references.add-icon(var(--cc-icon-sparkle));
}

[aria-label="Search"] .workspace-tab-header-inner-icon, .mobile-navbar-action-quick-switcher > .clickable-icon, [aria-label="Show search filter"] {
    @include references.add-icon(var(--cc-icon-telescope));
}

.search-input-container::before {
    -webkit-mask-image: var(--cc-icon-telescope);
    -webkit-mask-size: 100%;
}

.workspace-drawer-vault-switcher-icon {
    @include references.add-icon(var(--cc-icon-rocket));
}

[aria-label="Navigate back"] {
    @include references.add-icon(var(--cc-icon-arrow-left));
}

[aria-label="Navigate forward"] {
    @include references.add-icon(var(--cc-icon-arrow-right));
}

.nav-buttons-container, [aria-label="Search settings"] {
    --icon-color: var(--text-faint);
    --icon-color-active: var(--text-muted);
}